.facilities {
  padding: 20px;
}

.facilities-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.facility-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33vw;
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 10px;
  background-color: #f9f9f9;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.facility-item:hover {
  background-color: #e0e0e0; /* Change color on hover */
  transform: scale(1.05); /* Slightly increase size on hover */
}

.facility-item img {
  width: 100%;
  height: auto;
  border-radius: 15px;
  margin-bottom: 10px;
}

.facility-item p {
  font-size: 1.2rem;
  text-align: center;
}

.heading {
  text-align: center;
  background-color: rgb(234, 234, 234);
  padding: 15px;
}

#image {
  height: 300px;
}
